@page "/examentry"
@rendermode InteractiveServer
@using SAMSITCMiniLIS.Shared


<label>
    Select Report:
</label>
<div class="form-group">
    <select class="form-control" @bind="@reportName">
        @foreach (var op in reports)
        {
            <option value="@op">@op</option>
        }
    </select>
</div>

<h1>
    @reportName
</h1>


@if (diffTableFields != null)
{
    <h1>Diff Table</h1>
    @foreach (var field in diffTableFields)
    {
        <div class="form-group">
            <DynamicInputField Type="Text" Title="@field.Value" CssClass="form-control" @bind-FieldValue="field.Value" />
        </div>
    }
}

@if (markerTableFields != null)
{
    <h1>Markers Table</h1>
    @foreach (var field in markerTableFields)
    {
        <div class="form-group">
            <DynamicInputField Type="Text" Title="@field.Value" CssClass="form-control" @bind-FieldValue="field.Value" />
        </div>
    }
}
@if (interpretationFields != null)
{
    @foreach (var field in interpretationFields)
    {
        <div class="form-group">
            <DynamicInputField Type="Text" Title="@field.Value" CssClass="form-control" @bind-FieldValue="field.Value" />
        </div>
    }
}


<button class="btn btn-primary" @onclick="GenerateReport">Generate</button>

<div class="form-group">
    <button class="btn btn-secondary" @onclick="ClearForm">Clear</button>
</div>

@code {
    private string reportName;

    private List<FieldModel> diffTableFields;
    private List<FieldModel> markerTableFields;
    private List<FieldModel> interpretationFields;

    private string[] reports;

    public ExamEntry()
    {
   reports = FileHelper.GetReportNames();
        // FieldModel f = new FieldModel();
        // f.Type = "Combo";
        // f.Title = "Gr";
        // diffTableFields.Add(f);

    }

    private void GenerateReport()
    {
       


    }

    private void ClearForm()
    {

    }

    private class FieldModel
    {
        public string Value { get; set; }
        public string Type { get; set; }
        public string[] Options { get; set; }
        public string Title { get; set; }
    }
}